/* CABEÇALHO */

header{
position: fixed; /* Mantém a header no topo quando o usuário rolar para baixo*/
top: 0; /* Ele faz com que a header fixe no topo */

left: 0;
width: 100%;
height: 110px;

box-sizing: border-box; /* Evita que o avatar sai pra fora da header */

background-color: #e5e8fc;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);


display: flex;
align-items: center; /* Fica bem no meio da caixa/div */

padding-left: 20px;
padding-right: 20px;
}

.logo_pgap{
    height: 80px;
    width: auto;
   
    transition: 0.3s; /* Faz o aumento da logo ser suave e nao de soco */
}

.logo_pgap:hover{
transform: scale(1.1); /* Faz com que quando o mouse estiver emcima aumente 110% do tamanho*/
cursor: pointer; /* Faz parecer clicavel */
}

.logopgap-link {
    text-decoration: none;
}

.perfil{
    margin-left: 20px;
    margin-right: 20px;

}

.avatar{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover; /* Faz com que a imagem que o usuario enviar se encaixe no moldura do avatar*/
    transition: 0.3s;
}

.avatar:hover{
    transform: scale(1.1);
}

#SelecionarImagem{
    display: none; /* Isso serve para esconder o botao de escolher arquivos (do avatar) */
}

.config{
margin-left: auto;
}

.icone_config{
width: 65px;
height: 65px;
cursor: pointer;
transition: 0.3s;

}

.icone_config:hover{
    transform: rotate(90deg) scale(1.1); /* o rotate serve para girar a imagem pra dar efeito de engrenagem */
}

.drawer-config{
    position: fixed;
    top: 0;
    right: -320px;      /* css do drawer da configuração -320 é pra ele ficar escondido */

    width: 320px;
    height: 100vh;

    background-color: rgb(177, 212, 233);
    box-shadow: -5px 0 15px rgba(0,0,0,0.25);

    transition: 0.4s;
}

.drawer-config.aberto{
    right: 0;              /* quando o drawer abre ele volta o right pro 0 pra aparecer na tela */
}

.Voltar{
   height: 80px;
    width: auto;
}

.seta_voltar{
width: 50px;
height: 50px;
cursor: pointer;
transition: 0.3s;

margin-left: 10px;
margin-top: 10px;
}

.seta_voltar:hover{
transform: scale(1.1);
}

.opcao-tema{
    /* é para deixar o botao de um lado e o texto de outro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 18px;
}

.escolha{
   /* corpo do botão */
    position: relative;
    width: 55px;
    height: 28px;
}

.escolha input{
    /* configuração do checkbox pra esconder o checkbox padrao */
    display: none;
}

.slider{
    /* fundo do botão */
    position: absolute;
    cursor: pointer;
    inset: 0;              
    background-color: #ccc;
    border-radius: 30px;
    transition: 0.3s;
}

.slider::before{
    /* cria a bolinha do botao sem precisar add imagem de um botao */
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.escolha input:checked + .slider{
    /* quando checkbox é marcado ele fica azul */
    background-color: #4f67f5;
}

.escolha input:checked + .slider::before{
    /* quando checkbox é marcado a bolinha anda pra direita */
    transform: translateX(27px);
}

/* BOTAO ENSINO BASICO E ANO INICIAL */

.header_menu{
    display: flex; 
    align-items: center;
    gap: 20px;
    margin-left: 80px;
}

.anosini-dropdown,
.ebasico-dropdown{
    position: relative;
}

.botao-anosini,
.botao-ebasico{
    background-color: rgb(13,130,233);
    border-radius: 50px;
    width: 200px;
    height: 40px;

    border: none;

    color: white;
    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
    transition: .3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-anosini:hover,
.botao-ebasico:hover{
    transform: scale(1.05);
    color: #000000;
}

.opcoes-anosini,
.opcoes-ebasico{
    display: none;
    position: absolute;
    top: 35px;
    left: 0;

    background-color: white;
    min-width: 230px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.20);
    overflow: hidden;
}

.opcoes-anosini.aberto,
.opcoes-ebasico.aberto{
    display: block;
}

.opcoes-anosini button,
.opcoes-ebasico button{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: white;
    cursor: pointer;
    text-align: left;
    font-size: 15px;
}

.opcoes-anosini button:hover,
.opcoes-ebasico button:hover{
    background-color: #e5e8fc;
}