/* TELA DE JOGOS */

.tela-3ano,
.tela-2ano,
.tela-1ano,
.tela-jogos {
    padding: 35px 45px;
    min-height: 460px;
}

/* Para as telas ficarem separadas */

.tela {
    display: none;
}

.tela.ativa {
    display: block;
}

.cabecalho-tela-jogos h1 {
    font-size: 48px;
    margin: 0 0 10px;
    color: black;
}

.cabecalho-tela-jogos p {
    font-size: 20px;
    max-width: 850px;
    color: #111;
    margin-bottom: 30px;
}

.cards-jogos {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.card-jogo {
    width: 220px;
    background-color: #eeeeee;
    border-radius: 0 0 18px 18px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 5px 12px rgba(0,0,0,0.18);
}

.card-jogo img {
    width: 100%;
    height: 155px;
    object-fit: cover;
    display: block;
}

.card-jogo h2 {
    font-size: 22px;
    text-align: center;
    padding: 18px 10px;
    margin: 0;
    color: black;
    font-weight: normal;
}

.card-jogo:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 10px 22px rgba(0,0,0,0.28);
}

/* ESTILIZAÇÃO Do molde de card pós seleção do usuário*/

.molde-fundo{

    display:none;

    position:fixed;

    inset:0;

    background-color:rgba(0,0,0,.65);

    z-index:2000;

    justify-content:center;

    align-items:center;

}

.molde-fundo.aberto{

    display:flex;

}

.molde-card{

    width:420px;

    max-width:90%;

    background:white;

    border-radius:18px;

    padding:25px;

    text-align:center;

    position:relative;

    box-shadow:0 12px 30px rgba(0,0,0,.35);

}

.fechar-molde{

    position:absolute;

    top:10px;

    right:15px;

    border:none;

    background:transparent;

    font-size:34px;

    cursor:pointer;

}

.molde-img{

    width:170px;

    height:120px;

    object-fit:cover;

    border-radius:12px;

    margin-bottom:18px;

}

.molde-card h2{

    margin:0 0 20px;

    font-size:28px;

    color:#061f55;

}

.molde-card p{

    font-size:17px;

    color:#222;

    line-height:1.5;

    margin-bottom:18px;

}

.botao-jogar{

    display:inline-block;

    margin-top:10px;

    padding:12px 24px;

    background:#5369e6;

    color:white;

    text-decoration:none;

    border-radius:10px;

    font-weight:bold;

    transition:.3s;

}

.botao-jogar:hover{

    transform:scale(1.05);

}